<!DOCTYPE html>
<html lang="en" xmlns="" xmlns="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Title</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="js/vue.min.js"></script>
  <script src="js/element-ui.js"></script>
  <style>
    html, body {
      margin: 0;
      height: 132px;
      overflow: hidden;
    }
    .tab {
      margin: 4px 6px;
    }
    .el-tab-pane {
      height: 56px;
      overflow-y: auto;
    }
  </style>
</head>
<body>
<div id="app">
  <el-tabs type="border-card">
    <el-tab-pane v-for="(item, index) in category" :key="index" :label="item.name">
      <el-tag class="tab" v-for="(tab, key) in item.list" :key="key" size="mini" :type="tab.choose ? `danger` : ''" @click="chooseTab(index, key)">{{tab.name}}</el-tag>
    </el-tab-pane>
  </el-tabs>
</div>
<script>
  new Vue({
    el: '#app',
    data() {
      return {
        category: [],
        choose: [],
      }
    },
    mounted() {
      this.getData()
      this.category.forEach((cate, index) => {
        cate.list.forEach((item, key) => {
          if (this.choose.length > 0)
            item.choose = this.choose.indexOf(parseInt(item.id)) > -1
          else
            item.choose = key === 0
        })
      })
      this.$forceUpdate()
    },
    methods: {
      getData() {
        this.category = JSON.parse(fy_bridge_app.getVar('tab-panel'))
        let choose = fy_bridge_app.getVar('tab-filters')
        if (choose) this.choose = choose.split(',')
      },
      chooseTab(index, key) {
        this.choose = []
        this.category[index].list.forEach((item, current_index) => {
          item.choose = current_index === key
        })
        this.category.forEach((cate, index) => {
          cate.list.forEach((item, key) => {
            if (item.choose) this.choose.push(parseInt(item.id))
          })
        })
        this.$forceUpdate()
        console.log(this.choose)
      },
    }
  })
</script>
</body>
</html>