*{
	margin: 0;
	padding: 0;
}
*{
	box-sizing: border-box;
}
*::after{
	box-sizing: border-box;
}
*::before{
	box-sizing: border-box;
}

a{
	color: inherit;
	text-decoration: none;
}
ul,ol,li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
body{
	font: 14px/1.5 Helvetica,sans-serif;
}

/*icon*/

.icon {
	width: 1em; height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
 }